.friends{
    margin-top: 30px;
    padding-top: 30px;
    border-top: #eaeaea solid 1px;
}

.friends__title{
    display: flex;
    justify-content: space-between;
    color: #909090;
    font-size: 12px;
}

.musicP{
    margin-top: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: #5CBC79 solid 2px;
    border-radius: 15px;
    font-size: 12px;
    opacity: 0.8;
}

.fa-play{
    margin-left: 5px;
    color: #5CBC79;
}

.profile__contents .f-avatar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 45px;
    height: 45px;
}

.f-avatar img{
    width: 45px;
    height: auto;
    border-radius: 80% 50% 80% 50% / 50% 80% 50% 80% ;
    overflow: hidden;
}
